<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= form.label :first_name %>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
    <%= form.text_field :first_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= form.label :last_name %>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
  <%= form.text_field :last_name%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= form.label :phone_number %>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
    <%= form.text_field :phone_number %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= form.label :joining_date %>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
    <%= form.date_select :joining_date %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= form.label :address %>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
    <%= form.text_area :address %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= form.label :email %>
    </div>
    <div class="col-md-8 mg-t-5 mg-md-t-0">
    <%= form.text_field :email %>
    </div>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
